<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Disputor" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Disputor">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app %>
  </head>

  <body>
    <nav>
      <div>
        <%= link_to "Dispute Review Queue", root_path %>
        <% if signed_in? %>
          <span> | </span>
          <%= link_to "Daily Volume", reports_daily_volume_path %>
          <span> | </span>
          <%= link_to "Time To Decision", reports_time_to_decision_path %>
          <span> | </span>
          <span>Signed in as <%= current_user.email %> (<%= current_user.role %>)</span>
          <span> | </span>
          <%= link_to "Sign Out", session_path(current_user), data: { turbo_method: :delete } %>
        <% else %>
          <span> | </span>
          <%= link_to "Sign In", new_session_path %>
        <% end %>
      </div>
    </nav>

    <% if notice %>
      <p style="color: green"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p style="color: red"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
